<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Akshay Kumar TFT Java/PracticeAllProjects/src/test/java/Day1/LocatorsDemo.java">
        <classes>
            <class name="Day1.LocaterstestDemo"></class>
        </classes>
    </test>
</suite>