<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Akshay Kumar TFT Java/TestNGDemo">
        <classes><class name="Day1.TestNgDemo">
            <methods>
                <include name="setup"/>
                <include name="testsetp"/>
                <include name="terodown"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>